@tailwind base;
@tailwind components;
@tailwind utilities;


.options{ 
    background-image: url(/assets/images/bg-sidebar-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
