@tailwind base;
@tailwind components;
@tailwind utilities;


.options{ 
    background-image: url(/assets/images/bg-sidebar-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


label:has(input:checked){ 
    border: 1px solid hsl(243, 100%, 62%);
}